<div class="card" style="width: fit-content; margin: 10px">
    <div class="card-body">
      
        <h5 class="card-title"> Ajouter service cantine: </h5>
        
      </div>
</div>

<div class="card" style="width: fit-content; margin: 10px">
    <div class="card-body">
      <div style="display: flex; flex-direction: row">
        <h5 class="card-title"> Ajouter service cantine: </h5>
        <div style="
          background: rgb(83, 21, 199);
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
      </div>
</div>